Node_Red_App.json
[{"id":"aa065b91.1ec608","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6f33cc5c.d99614","type":"ui_form","z":"aa065b91.1ec608","name":"","label":"Enter Following Values....","group":"be38627d.146eb","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"country","type":"text","required":true,"rows":null},{"label":"Year","value":"year","type":"number","required":true,"rows":null},{"label":"Status","value":"status1","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"adult","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"ha","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"income","type":"number","required":true,"rows":null},{"label":"Schooling","value":"school","type":"number","required":true,"rows":null}],"formValue":{"country":"","year":"","status1":"","adult":"","bmi":"","ha":"","income":"","school":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":130,"y":200,"wires":[["5e4e02ce.60e44c"]],"icon":"node-red/function.svg"},{"id":"e7ad8a40.e07398","type":"inject","z":"aa065b91.1ec608","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":40,"wires":[["5e4e02ce.60e44c"]]},{"id":"5e4e02ce.60e44c","type":"function","z":"aa065b91.1ec608","name":"Set Variables and Authentication","func":"global.set(\"country\",msg.payload.country)\nglobal.set(\"year\",msg.payload.year)\nglobal.set(\"status1\",msg.payload.status1)\nglobal.set(\"adult\",msg.payload.adult)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"ha\",msg.payload.ha)\nglobal.set(\"income\",msg.payload.income)\nglobal.set(\"school\",msg.payload.school)\nvar apikey = \"2FIIGIfL_-C3BRcfnqHa8vFR1IT12TxuciZjFaqnyYCC\"\nmsg.headers = {\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":120,"wires":[["c61cd157.3ae9b"]]},{"id":"c61cd157.3ae9b","type":"http request","z":"aa065b91.1ec608","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/oidc/token","tls":"","persist":false,"proxy":"","authType":"","x":330,"y":280,"wires":[["e0ae97e5.e51168"]]},{"id":"e0ae97e5.e51168","type":"function","z":"aa065b91.1ec608","name":"Get Values and Sent Data","func":"var token = msg.payload.access_token\nvar instance_id = \"25029da2-3957-4df4-aebb-afdb8c51c0cf\"\nmsg.headers = {\"Content-type\":\"application/json\",\"Authorization\":\"Bearer \"+ token,\"ML-Instance-ID\":instance_id}\nvar v1 = global.get(\"country\")\nvar v2 = global.get(\"year\")\nvar v3 = global.get(\"status1\")\nvar v4 = global.get(\"adult\")\nvar v5 = global.get(\"bmi\")\nvar v6 = global.get(\"ha\")\nvar v7 = global.get(\"income\")\nvar v8 = global.get(\"school\")\nmsg.payload ={ \"field\": [\"Country\",\"Year\",\"Status\",\"Adult Mortality\",\" BMI\",\"HIV/AIDS\",\"Income composition of resources\",\"Schooling\"], \"values\" : [[v1,v2,v3,v4,v5,v6,v7,v8]] } \nreturn msg;","outputs":1,"noerr":0,"x":590,"y":60,"wires":[["2873b2bd.60c4ae"]]},{"id":"2873b2bd.60c4ae","type":"http request","z":"aa065b91.1ec608","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/25029da2-3957-4df4-aebb-afdb8c51c0cf/deployments/d9a7bd58-e58e-4de3-8dbf-607938a593f1/online","tls":"","persist":false,"proxy":"","authType":"","x":570,"y":260,"wires":[["8e4cf52b.da9548"]]},{"id":"8e4cf52b.da9548","type":"function","z":"aa065b91.1ec608","name":"Get Output","func":"msg.payload = msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":180,"wires":[["1ca85e.86df47a2"]]},{"id":"1ca85e.86df47a2","type":"ui_gauge","z":"aa065b91.1ec608","name":"","group":"be38627d.146eb","order":0,"width":0,"height":0,"gtype":"gage","title":"Life Score","label":"Years","format":"{{msg.payload}}","min":0,"max":"130","colors":["#18f231","#18f231","#18f231"],"seg1":"","seg2":"","x":760,"y":340,"wires":[]},{"id":"be38627d.146eb","type":"ui_group","z":"","name":"Measure Your Life Span","tab":"d0d03ca1.313f5","order":1,"disp":true,"width":"6","collapse":false},{"id":"d0d03ca1.313f5","type":"ui_tab","z":"","name":"LifeLine","icon":"dashboard","disabled":false,"hidden":false}]